<!DOCTYPE html>
<html>
<head>
<title></title>
<link href="/css/style.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">    
</head>
<body>

	<div class="header">
    	<span class="title">Home</span>
	</div>

	<div class="content">
    	<div class="dbbox-center" style="padding-top: 50px"><img src="img/logo_pdu.png"></div>
	</div>
	<div class="footer">
		<div class="left">&nbsp;</div>
    	<div class="center" id="datetime"></div>
    	<div class="right"><a href="/menu" class="ftr-link">Menu<img src="img/gry-status.png"></a></div>
	</div>

</body>
<script type="text/javascript" src="static/js/jquery.min.js"></script>
<script type="text/javascript" src="static/js/socket.io.js"></script>
<script type="text/javascript" src="static/js/date-display.js"></script>
</html>